version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: bundler
    directory: /docs
    schedule:
      interval: weekly

  - package-ecosystem: bundler
    directory: /Library/Homebrew
    schedule:
      interval: daily
    ignore:
      - dependency-name: sorbet-runtime
